.galeria{
    display: flex;
    flex-wrap: wrap ;
    gap: 4vh;
    justify-content: center;
    .card{
        box-shadow: 1px 1px 45px rgba(2, 255, 221, 0.849);
        background-color: rgba(0, 0, 0, 0.541);
        color: white;
        border: 2px solid rgb(255, 255, 255);            

    }
}