.galeria2{
    display: flex;
    flex-wrap: wrap ;
    gap: 10vh;
    justify-content: center;
    position: absolute;
    top: 30vh;
    left: 20vh;

    .card{
        box-shadow: 1px 1px 45px rgba(2, 255, 221, 0.849);
        background-color: rgba(0, 0, 0, 0.541);
        color: white;
        border: 2px solid rgb(255, 255, 255);            

    }
}

@media (max-width:768vh){
    .galeria2{
        left: 5vh;
    }
}
@media (max-width:1455px){
    .footer2{
        top: 140vh;
    }
}

@media (max-width:705px){
    .footer2{
        top: 250vh;
        left: 10vh;

    }
}
