.galeria2{
    z-index: -1;
    display: flex;
    flex-wrap: wrap ;
    gap: 10vh;
    justify-content: center;
    position: relative;
    top: 20vh;

    .card{
        box-shadow: 1px 1px 45px rgba(2, 255, 221, 0.849);
        background-color: rgba(0, 0, 0, 0.541);
        color: white;
        border: 2px solid rgb(255, 255, 255);            

    }
}


.footer2{
    display: flex;
    font-size: 2vh;
    text-transform: capitalize;
    color: white;
   text-shadow:5px 0px 20px rgb(2, 255, 221);
   border: 1.5px solid white; 
   border-radius: 20px;
   padding: 1vh;
   width: 35vh;
   position: absolute;
   bottom: 3%;
   margin: 1vh auto ;
   left: 40%;

}


@media (max-width:1410px){
    .footer2{
        top: 135vh;
        height: 5vh;
        bottom: 3%;
        margin: 1vh auto ;
        left: 40%;
    }
}

@media (max-width:663px){
    .footer2{
        top: 245vh;
        height: 5vh;
        bottom: 3%;
        margin: 1vh auto ;
        left: 25%;
    }
}

@media (max-width:600px){
    .footer2{
        top: 245vh;
        height: 5vh;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:500px){
    .footer2{
        top: 245vh;
        height: 5vh;
        left: 6vh;
        
    }
}
