.destacados{
    margin: 2vh ;
    display: flex;
    color: white;
   text-shadow:5px 0px 20px rgb(2, 255, 221);
}

/*pinturas*/

.titulopintura{
    position: absolute;
    top: 10vh;
    z-index: -1;
    text-transform: capitalize;
    margin: 2vh ;
    display: flex;
    color: white;
   text-shadow:5px 0px 20px rgb(2, 255, 221);

}

.footer2{
    display: flex;
    max-width: fit-content;
    font-size: 2vh;
    text-transform: capitalize;
    margin: 2vh ;
    display: flex;
    color: white;
   text-shadow:5px 0px 20px rgb(2, 255, 221);
   border: 1.5px solid white; 
   border-radius: 20px;
   padding: 1vh;
   text-align: center;
   position: relative;
    top: 50vh;
    left: 50vh;
}







/*footer*/

.footer1{
    display: flex;
    max-width: fit-content;
    font-size: 2vh;
    text-transform: capitalize;
    margin: 2vh auto ;
    display: flex;
    color: white;
   text-shadow:5px 0px 20px rgb(2, 255, 221);
   border: 1.5px solid white; 
   border-radius: 20px;
   padding: 1vh;
   position: relative;
   top: 20vh;
   bottom: 0;

    
}
