.body {
  background-color: black;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}
.body .container-fluid {
  background-color: rgb(0, 0, 0);
  padding: 1vh;
}
.body .container-fluid .navbar-brand {
  color: white;
  font-size: 4vh;
}
.body .container-fluid .navbar-brand:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 20px rgb(2, 255, 221);
  border-radius: 20px;
  transition: 0.5;
  padding: 0.5vh;
}
.body .container-fluid .nav-link.active {
  color: rgb(201, 0, 0);
}
.body .container-fluid .nav-link {
  color: white;
}
.body .container-fluid .nav-link:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 5px 0px 20px rgb(2, 255, 221);
  border-radius: 20px;
  transition: 0.5;
}
.body .container-fluid .nav-item {
  text-align: center;
}
.body .container-fluid .navbar-toggler-icon {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 20px rgb(32, 145, 250);
  border-radius: 10px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 4vh;
  justify-content: center;
  margin-top: 10vh;
}
.galeria .card {
  box-shadow: 1px 1px 45px rgba(2, 255, 221, 0.849);
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  border: 2px solid rgb(255, 255, 255);
}

.destacados {
  margin: 2vh;
  display: flex;
  color: white;
  text-shadow: 5px 0px 20px rgb(2, 255, 221);
}

/*pinturas*/
.titulopintura {
  position: absolute;
  top: 10vh;
  z-index: -1;
  text-transform: capitalize;
  margin: 2vh;
  display: flex;
  color: white;
  text-shadow: 5px 0px 20px rgb(2, 255, 221);
}

/*footer*/
.footer1 {
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 2vh;
  text-transform: capitalize;
  margin: 2vh auto;
  display: flex;
  color: white;
  text-shadow: 5px 0px 20px rgb(2, 255, 221);
  border: 1.5px solid white;
  border-radius: 20px;
  padding: 1vh;
  position: relative;
  top: 20vh;
  bottom: 0;
}

.galeria2 {
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  gap: 10vh;
  justify-content: center;
  position: relative;
  top: 20vh;
}
.galeria2 .card {
  box-shadow: 1px 1px 45px rgba(2, 255, 221, 0.849);
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  border: 2px solid rgb(255, 255, 255);
}

.footer2 {
  display: flex;
  font-size: 2vh;
  text-transform: capitalize;
  color: white;
  text-shadow: 5px 0px 20px rgb(2, 255, 221);
  border: 1.5px solid white;
  border-radius: 20px;
  padding: 1vh;
  width: 35vh;
  position: absolute;
  bottom: 3%;
  margin: 1vh auto;
  left: 40%;
}

@media (max-width: 1410px) {
  .footer2 {
    top: 135vh;
    height: 5vh;
    bottom: 3%;
    margin: 1vh auto;
    left: 40%;
  }
}
@media (max-width: 663px) {
  .footer2 {
    top: 245vh;
    height: 5vh;
    bottom: 3%;
    margin: 1vh auto;
    left: 25%;
  }
}
@media (max-width: 600px) {
  .footer2 {
    top: 245vh;
    height: 5vh;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .footer2 {
    top: 245vh;
    height: 5vh;
    left: 6vh;
  }
}/*# sourceMappingURL=estilo.css.map */